@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); /* Importa fuentes utilizadas */


.mainText{ /* Estilo para subtitulo "GG.dev" */
    font-size: xx-large;
    color: rgb(0, 0, 0);
    color: white;
}
.seccion1{ /* Estilo para el texto de la sección 1 */
    color: white;
    font-size: large;
}
.seccion2{ /* Estilo para el texto de la sección 2 */
    color: rgb(0, 0, 0);
    font-size: x-large;
}
.foot{ /* Estilo para el texto de la sección footer */
    font-size: larger;
    color: white;
}
.body{ /* Estilo general para la clase body */
    background-color: #0D1721;
    color: white;
}
.acercaDeText{ /* Estilo para el tamaño de letra del texto introductorio  */
    font-size: x-large;
}
.card-text{ /* Estilo para el texto que acompaña las imagenes en la sección de Proyectos destacados */
    font-size: large;
    color: aqua;
}
.subtitulo{ /* Estilo para palabras dentro del texto descriptivo de Acerca de*/
    color: aqua;
}
.namegg{ /* Estilo para palabras dentro del texto descriptivo de Acerca de*/
    color: aqua;
}
#contactoid{ /* Estilo para subtítulos*/
    color: yellow;
}
#serviciosid{ /* Estilo para subtítulos*/
    color: rgb(0, 255, 55);
}
#proyectosid{ /* Estilo para subtítulos*/
    color: rgb(255, 0, 102);
}
