.contenedor{
    width: 100%;
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: monospace;
    background-color: rgb(55, 55, 55);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}
.contenedor, a{
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: large;
    text-align:start;
    justify-content: center;
    align-content: center;
}
.ACD{
    background-color: rgb(218, 227, 203);
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.acercade{
    border: 10px;
    border-color: rgb(85, 95, 105);
    font-size: large;
    width: 650px;
    padding:02em;

} 
.ProyC{
    border: 10px;
    border-color: rgb(75, 85, 95);
    font-size: large;
    width: 650px;
    padding:02em;
} 
.ProyP{
    border: 10px;
    border-color: rgb(65, 75, 85);
    font-size: large;
    width: 650px;
    padding:02em;
} 
footer{
    text-align: center;
}